*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  font-family: '微软雅黑'
}
a{
  text-decoration: none;
  color:#000;
  display: block;
}
li{
  list-style: none;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 1deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
    transform: rotate3d(0, 0, 1, -2deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 1deg);
    transform: rotate3d(0, 0, 1, 2deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
    transform: rotate3d(0, 0, 1, -2deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
} 
/* 新闻中心开始 */

.wrap{
  width: 100%;
  overflow: hidden;
}

/* banner开始 */

.newsBanner{
  width: 100%;
  background-image: url('../images/newsBannner.jpg');
  padding-top: 194;
  position: relative;
}
.newsFirst{
  font-size: 230px;
  font-family: 'Times New Roman'
}
.newsBannerBox{
  width: 1200px;
  margin: 0 auto;
  margin-left: 114px;
}
.newsKRYB{
  font-size: 108px;
  font-weight: bold;
  text-shadow:  -2px 0 black, 0 2px black,
  2px 0 black, 0 -2px black;
  color: #fff;
}
.newsDown{
  font-size: 30px;
  color: #fff;
}
.newsZWZX{
  font-size: 50px;
  color:#6f0505;
  margin-top: 50px;
}
.newsEng{
  font-size: 24px;
  color:#814b4b;
  padding-bottom: 100px;
}
.newsMinBox{
  position: relative;
  z-index: 6;
}
.newsBoxColor{
  width: 700px;
  height: 167px;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 45%;
  z-index: 0;
  left: 0;
}

/* banner结束 */

/* section开始 */

.newsSectionTop{
  width: 100%;
  border-bottom: 2px solid #383937;
  background-color: #fff;
}
.newsSectionnav{
  width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 8px;
}
.newsNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsNav>li>a{
  font-size: 28px;
  line-height: 46px;
  width: 142px;
  text-align: center;
}
.newsNav>li>a:hover{
  color:#fff;
  background-image: url('../images/newsnavhover.PNG');
}
.newsNaveActive{
  color:#fff;
  background-image: url('../images/newsnavhover.PNG');
}
.contactNavActive{
  color:#fff;
  background-image: url('../images/newsnavhover.PNG');
}
.brandNaveActive{
  color:#fff;
  background-image: url('../images/newsnavhover.PNG');
}
.newsNav>li>.LOGO:hover{
  background-image: none;
  animation: swing 1s infinite;
  transform-origin: 50% 0;
}
.newsDownColor{
  width: 1852px;
  margin: 0 auto;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #9b9c9b;
  margin-top: 6px;
}
.newsJRTT{
  width: 100%;
  background-color: #f7f7f7;
  padding: 25px 0 38px 0;
}
.newsJRTTmin{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 38px;
  display: flex;
}
.newsTT{
  width: 336px;
  height: 220px;
  border: 2px solid #000;
  padding: 1px;
  margin-top: 7px;
}
.newsTTtext{
  margin-left: 37px;
  width: 744px;
}
.newsTitle{
  font-size: 16px;
  margin-top: 24px;
}
.newsContent{
  margin-top: 30px;
  line-height: 25px;
  font-size: 12px;
  color: #7f7f7f;
}
.newsDetails{
  width: 94px;
  border: 2px solid #b9b9b9;
  border-radius: 10px;
  text-align: center;
  padding: 4px 0;
  font-size: 12px;
  margin-top: 74px;
}
.newsToutiaoLogo{
  width: 74px;
  height: 30px;
  margin-left: -70px;
  background-image: url(../images/toutiaologo.png);
}
.newsSectonMin,.contactSection,.joinSection,.brandSection{
  width: 100%;
  background-image: url(../images/bg.jpg);
}
.newsSectionBox{
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #e3e3e3;
  padding-top: 34px;
}
.newSectionPic{
  width: 166px;
  height: 166px;
  background-image: url(../images/newpic1.png);
  background-position: center center;
  border-radius: 50%;
  border: 2px solid #000;
}
.newSectionPic1{
  background-image: url(../images/newpic2.png);
}
.newSectionPic2{
  background-image: url(../images/newpic3.png);
}
.newSectionPic3{
  background-image: url(../images/newpic4.png);
}
.newSectionPic4{
  background-image: url(../images/newpic5.png);
}
.newSectionPic5{
  background-image: url(../images/newpic6.png);
}
.buxiangqile{
  width: 100%;
  padding: 26px 0 26px 14px;
  display: flex;
}
.buxiangqile:hover .newSectionPic{
  border: 0;
}
.buxiangqile:hover{
  background-color: #fff100;
}
.buxiangqile:hover .b{
  color: #606060;
}
.ts{
  margin-left: 54px;
  width: 744px;
}
.newsNumber{
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.newsNuberwidth{
  margin: 0 auto;
  width: 590px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}
.newsNuberwidth>a{
  font-size: 12px;
}
.newsPages{
  display: flex;
  width: 328px;
  justify-content: space-between;
}
.newsPages>li>a{
  padding:5px 10px;
  color: #fff;
  background-color: #999999;
  border-radius: 10px;
}
.newsPages>li:nth-child(1)>a{
  background: #fca903;
}
.newsPages>li>a:hover{
  background: #fca903;
}

/* section结束 */

/* footer开始 */

footer{
  width: 100%;
  margin-top: 100px;
  background-image: url('../images/newsdown.png');
  padding-top: 138px;
}
.newsDownLogo{
  margin: 0 auto;
  background-image: url(../images/newsdownlogo.PNG);
  width: 180px;
  height: 180px;
}
footer>p{
  text-align: center;
  color:#fff;
  line-height: 36px;
  font-size: 16px;
}
footer>p:nth-child(2){
  margin-top: 18px;
}
/* footer开始 */

/* 新闻中心结束 */

/* 联系我们开始 */

.contactBanner{
  width: 100%;
  background-image: url('../images/contactBanner.jpg');
  padding-top: 888px;
}

/* section开始 */

.joinpadding{
  margin-bottom: 88px;
}
.contactPhone{
  width: 960px;
  display: flex;
  margin: 0 auto;
  margin-top: 88px;
  justify-content: space-between;
}
.contactPhoneL{
  display: flex;
  padding: 38px 152px 38px 87px;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  align-items: center;
}
.contactPhonein{
  width: 126px;
  text-align: center;
  margin-left: 14px;
}
.contactPhonein>p:nth-child(1){
  font-size: 25px
}
.contactPhonein>p:nth-child(2){
  font-size: 18px;
}
.contactMap{
  width: 100%;
  height: 1017px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background-image: url(../images/contactMap.jpg);
}
.contactPhoneR{
  display: flex;
  background-color: #000;
  padding: 0px 80px 0 60px;
  align-items: center;
}
.contactPhoneintext{
  color: #fff;
  width: 230px;
  text-align: center;
  margin-left: 20px;
}
.contactPhoneMap{
  width: 74px;
  height: 58px;
}
.contactPhoneintext>p:nth-child(1){
  font-size: 25px
}
.contactPhoneintext>p:nth-child(2){
  font-size: 18px;
}
.contactchuanchuan{
  padding: 82px 30px 86px 32px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.contactChuan{
  width: 506px;
  padding-top: 458px;
  background-image: url('../images/contactchuanchuan.png');
  background-repeat: no-repeat;
}
.contactMessage{
  padding:12px 30px 28px 88px;
}
.contactMessage>input{
  width: 100%;
  border: 2px solid #000;
  font-size: 18px;
  border-radius: 3px;
  outline: 0;
  text-indent: 14px;
  height: 47px;
}
.contactMessage>input:nth-child(2){
  margin-top: 15px;
}
.contactMessage>input:nth-child(3){
  margin-top: 15px;
  padding-top: 18px;
  height: 0;
  padding-bottom: 200px;
}
.contactPush{
  width: 100%;
  background-color: #b02925;
  line-height: 40px;
  text-align: center;
  margin-top: 22px;
  color: #fff;
  border-radius: 3px;
}
/* section结束 */

/* 联系我们结束 */

/* 加盟中心开始 */

.joinBanner{
  width: 100%;
  background-image: url('../images/joinbanner.png');
  padding-top: 888px;
}
.joinNaveActive{
  color:#fff;
  background-image: url('../images/newsnavhover.PNG');
}
/* section开始 */

.joinCore{
  width: 465px;
  margin-top: 88px;
  margin: 0 auto;
  border: 2px solid #000;
  text-align: center;
}
.joinCoreEng{
  font-size: 12px;
  color:#ff0000;
  width: 224px;
  margin: 0 auto;
  letter-spacing:-1px;
  background-color: #fff;
  margin-top: -11px;
}
.joinCoreText{
  font-size: 34px;
  line-height: 74px;
}
.joinMinPic{
  width: 100%;
  padding-top: 80px;
  background-image: url(../images/joinMinPic.png);
  padding-bottom: 64px;
  margin-top: 62px;
}
.joinMinPicin{
  width: 1200px;
  margin: 0 auto;
}
.joinDianpu{
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.joinDianpu>div>p{
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 0px;
  margin-top: 22px;
}
.joinsanda{
  font-size: 18px;
  color: #fff;
  width: 1076px;
  margin: 0 auto;
  line-height: 30px;
  margin-top: 50px;
}
.joinLine{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 860px;
  margin-top: 42px;
}
.joinLine>div{
  padding: 49px 60px 37px 60px;
  border:2px solid #fff;
}
.joinLine>div>p{
  font-size: 22px;
  text-align: center;
  color:#fff;
  line-height: 0px;
  margin-top: 20px;
}
.joinSectionDown{
  width: 90px;
  height: 154px;
  border: 2px solid #000;
  margin: 0 auto;
  margin-top: 92px;
}
.joinSectionDown>div{
  width: 200px;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  margin-left: -54px;
  margin-top: 38px; 

}
.joinSectionDown>div>p:nth-child(1){
  font-size: 36px;
}
.joinSectionDown>div>p:nth-child(2){
  font-size: 20px;
  color: #737373;
}
.joinJiameng{
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.joinJiameng>div{
  border-radius: 50%;
  border: 2px solid #000;
  padding: 10px;
  margin-top: 62px;
}
.joinJiameng>div>p{
  text-align: center;
}
.joinJiameng>div>p:nth-child(2){
  font-size: 22px;
  line-height: 30px;
}
.joinJiameng>div>p:nth-child(3){
  font-size: 12px;
  padding-bottom: 12px;
}
.joinTechnology{
  display: flex;
  width: 964px;
  margin: 0 auto;
  margin-top: 60px;
  justify-content: space-between;
}
.joinTechnology>div{
  width: 290px;
}
.joinTechnology>div>p{
  text-align: center;
  font-size: 20px;
  font-weight:bold;
  line-height: 28px;
}
.joinTechnologyin{
  border: 2px solid #000;
  border-radius: 2px ;
  margin-top: 14px;
}
.joinTechnologyin>div{
  background-image: url(../images/joinTechnology1.PNG);
  padding-top: 278px;
}
.joinTechnologyin1>div{
  background-image: url(../images/joinTechnology2.PNG);
}
.joinTechnologyin2>div{
  background-image: url(../images/joinTechnology3.PNG);
}
.joinTechnologyin>div>div{
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 34px;
}
.joinTechnologyin>div>div>p{
  width: 238px;
  margin: 0 auto;
  height: 210px;
}
/* section结束 */

/* 加盟中心结束 */

/* 品牌介绍开始 */

.brandBanner{
  background-image: url('../images/brandbanner.png');
  padding-top: 888px;
}
.brandHuoguo{
  width: 1152px;
  height: 303px;
  margin: 0 auto;
  background-image: url(../images/brandjing.png);
  border: 4px solid #000;
  display: flex;
}
.brandXG{
  background-image: url('../images/brandXG.png');
  width: 523px;
  height: 392px;
  margin-top: -50px;
  margin-left: 40px;
}
.brandHuoguoText{
  margin-left: 134px;
}
.brandHuoguoText>p{
  font-size: 18px;
  line-height: 54px;
}
.brandHuoguoText>p>span{
  font-size: 16px;
}